@model DefenceSimulator3.Models.WeaponDefence

@{
    ViewData["Title"] = "Edit";
}

<h1>עדכן כמות</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
                <input asp-for="Name" type="hidden" class="form-control" />
                
                <input asp-for="Speed" type="hidden" class="form-control" />
                
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="עדכן" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">חזור לרשימת נשק</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
